@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700');

body,
input {
	font-family: 'Open Sans', sans-serif;
	color: #333333;
}

body {
	font-size: 80%;
}

dd {
	position: relative;
}

#password-view {
	display: none;
	position: absolute;
	left: 4px;
	top: 3px;
	background: #FFFFFF;
	width: 150px;
	overflow: hidden;
}

#result {
	font-family: 'Fira Mono', Consolas, Monaco, monospace;
	font-size: 125%;
	background: #333333;
}

#result:hover {
	background: none;
}

#phrase {
	text-transform: lowercase;
}

#phrase {
	background: #FFFFFF !important;
}

#show-password {
	cursor: pointer;
}